sudo: required

language: elixir
elixir:
 - 1.8.1

otp_release:
 - 21.2.5

addons:
  postgresql: '10.6'

script:
 - mix format --check-formatted
 - mix local.rebar --force
 - mix local.hex --force
 - mix do ecto.create, ecto.migrate
 - mix test && mix coveralls.travis
